<script lang="ts" setup>
import { ref } from "vue";
const sum = ref(0);

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

class Orders {
  id: number;
  name: string;
  price: number;
  constructor(id: number, name: string, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}

const ProductList = ref<Orders[]>([]);
function add(id: number, name: string, price: number) {
  const Product = new Orders(id, name, price);
  ProductList.value.push(Product);
  sum.value = sum.value + price;
}
</script>

<template>
  <v-row class="ma-10">
    <v-col>
      <v-container style="overflow: auto; max-height: 38vw">
        <v-row>
          <v-col
            cols="4"
            v-for="item in products"
            :key="item.id"
            class="text-center"
          >
            <v-card class="mx-auto" max-width="400">
              <v-card-title>{{ item.name }}</v-card-title>
              <v-card-subtitle>{{ item.price }}</v-card-subtitle>
              <v-btn @click="add(item.id, item.name, item.price)">ADD</v-btn>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-col>

    <v-col>
      <v-container style="overflow: auto; height: 35vw">
        <v-row>
          <v-col>id</v-col>
          <v-col>name</v-col>
          <v-col>price</v-col>
        </v-row>
        <v-row v-for="(item, index) in ProductList" :key="index">
          <v-divider></v-divider>
          <v-col cols="4">{{ item.id }}</v-col>
          <v-col>{{ item.name }}</v-col>
          <v-col>{{ item.price }}</v-col>
        </v-row>
        <v-row v-if="ProductList.length === 0">
          <v-divider></v-divider>
          <v-col class="text-center ma-5">NO Data</v-col>
        </v-row>
      </v-container>
      <v-row style="font-size: 4vw">Sum: {{ sum }}</v-row>
    </v-col>
  </v-row>
</template>
