<script lang="ts" setup>
import { ref } from "vue";
const Num = ref(0);
</script>

<template>
  <v-text-field
    label="Please input Your Number"
    :rules="[(v) => !!v || 'Number is not empty!!']"
    v-model.number="Num"
  ></v-text-field>
  <v-row>
    <v-col v-for="i in Num" :key="i" cols="1">{{ i }}</v-col>
  </v-row>
</template>
